.musicCards {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 5em;
    transition: 0.5s;
    justify-content: center;

    article {
        margin-left: 1em;
        margin-top: 1em;
        width: 30vw;
        height: auto;
        p {
            max-width: 35vw;
        }

        img {
            height: 100px;
            width: auto;
            transition: .5s;

            &:hover {
                filter: brightness(50%);
            }

            @include phoneLarge {
                height: 120px;
            }

            @include tablet {
                height: 150px;
            }

            @include desktop {
                height: auto;
            }
        }

    }
}
section{
    margin-bottom: 1em;
}
#siteDesc{
    text-align: center;
    color: map-get($colores, starkWhite);
}